.voicechat-channel-list {
  color: rgba(var(--sidebar-text-rgb), 0.6);
  padding-left: 15px;
  padding-right: 15px;

  li {
      list-style-type: none;
  }

  button {
    padding: 7px 7px;
    width: 100%;
    color: rgba(var(--sidebar-text-rgb), 0.6);
    text-align: left;
    background: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    height: 43px;

    &:hover {
      background: rgba(255, 255, 255, 0.08);
      .voicechat-channel-delete-button {
        display: block;
      }
    }
  }

  .voicechat-channel-name {
      flex-grow: 1;
  }

  .voicechat-members-count {
      background: rgba(255, 255, 255, 0.16);
      color: rgba(var(--sidebar-text-rgb), 0.6);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      width: 16px;
      margin-right: 4px;
      font-size: 11px;
      font-weight: 700;
  }

  .voicechat-channel-delete-button {
      display: none;
      padding: 0;
      color: rgba(var(--sidebar-text-rgb), 0.6);
      text-align: left;
      background: transparent;
      border: 0px;
      width: unset;
      font-size: 20px;
      &:hover {
          background: transparent;
      }
  }

  svg {
    stroke: –sidebar-text;
    margin-right: 4px;
  }

  &__users {
    margin: 0 10px 0 0;
  }
}
