.voicechat-control-bar {
  margin-top: 8px;
  padding: 7px 16px;
  display: flex;
  justify-content: flex-end;

  svg {
    stroke: rgba(var(--sidebar-text-rgb), 0.6);
  }

  button {
    line-height: 28px;
    height: 28px;
    width: 28px;
    background: rgba(255, 255, 255, 0.16);
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
  }

  > * {
    margin-right: 8px;
  }

  &__info {
    margin-right: auto;
  }

  &__connection {
    color: rgba(var(--sidebar-text-rgb), 0.72);
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }

  &__channel-name {
    color: var(--sidebar-text);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }
}
